#sidebar {
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    color:#fff;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #2e3338;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #2e3338;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #32373d;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    margin-left: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

a[data-toggle="collapse"] {
    position: relative;
}

.post-style-1 .blog-image{ max-height: 200px; overflow: hidden; }
